/*Text size on mobile and desktop*/
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
	body {
		font-size: 300%;
	}
}
@media only screen and (min-device-width : 480px) {
	body {
		font-size: 125%;
	}
}

button{
	padding: 10px 15px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	cursor: pointer;
	width: 49%;
	font-size: 100%;
	margin-bottom: 10px;
	border-width: .1rem;
}

/*Inner vertical lines in tables*/
table {
    border-collapse: collapse;
}
table td:not(:last-child), table th:not(:last-child) {
	border-right: .2rem solid black;
	padding-right: 10px;
}
table td:not(:first-child), table th:not(:first-child) {
	padding-left: 10px;
}

/*Color text*/
.dark_green {
	color: darkgreen;
}
